* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid black 0.5px; */
}
body{
  padding: 0px 40px;
  background-color: #040303;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
/* HERO SECTION */
.hero-section {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 120px 0px;

  .left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .title-subtitle {
      .hero-title {
        font-size: 68px;
        font-weight: 400;
        font-family: "poppins";
        color: #EDEDED;
        line-height: 80px;
        margin-bottom: 15px;
        #investment{
          color: #F8DE22;
        }
      }
      .hero-subtitle {
        font-size: 18px;
        font-weight: 200;
        font-family: 'nunito', sans-serif;
        color: #EDEDED;
      }
    }
    .hero-button {
      background-color: #F8DE22;
      border-radius: 15px;
      border: none;
      width: 120px;
      height: 40px;
      font-family: 'nunito', sans-serif;
      font-weight: 700;
      font-size: 18px;
    }
    .hero-button:hover{
      background-color: #d4bf1e;
    }
  }
  .visual-part {
    width: 45%;
    height: fit-content;
    .crypto-img {
      width: 100%;
      border-radius: 35px;
    }
  }
}
/* CALC SECTION */
.calc-section {
  width: 100%;
  height: fit-content;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-radius: 40px 40px 0px 0px;
  background: linear-gradient(to bottom, #0F0F0F, #040303);
}
.calculator-part {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .calc-title{
    font-size: 30px;
    color: #EDEDED;
    font-family: "poppins";
    font-weight: 400;
    #investment{
      color: #F8DE22;
    }
  }
  form {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    gap: 30px;
    
    .form-item{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: fit-content;
      width: 100%;
    }
    label{
      color: #EDEDED;
      font-family: 'nunito', sans-serif;
      font-size: 18px;
      margin-right: 5px;
    }
    input {
      width: 100%;
      color: #040303;
      font-size: 16px;
      font-family: 'nunito', sans-serif;
      font-weight: 600;
      border: none;
      padding: 8px;
      border-radius: 8px;
    }
    .calc-button {
      height: fit-content;
      width: fit-content;
      background-color: #F8DE22;  
      color: #040303;
      font-family: 'nunito', sans-serif;
      font-size: 16px;
      font-weight: 700;
      padding: 10px 20px;  
      border: none;  
      border-radius: 8px;  
      cursor: pointer;
    }
  }
}

/* CALC RESULT STYLES */
.calc-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}
.first-part {
  color: #EDEDED;
  font-size: 24px;
  font-family: "poppins";
  font-weight: 400;
  #money{
    color: #F8DE22;
  }
}
.second-part {
  color: #EDEDED85;
  font-size: 16px;
  font-family:  'nunito', sans-serif;
  font-weight: 300;
}


/* LIST SECTION */
.list-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 0px;
  .list-title{
    color: #EDEDED;
    font-family: "poppins";
    font-weight: 400;
    font-size: 20px;
    margin-left: 30px;
  }
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
}

/* LIST HEAD PART */
.head-row td {
  padding: 15px 30px 15px 0px;
  font-weight: 400;
  text-align: end;
  font-family: 'nunito', sans-serif;
  color: #EDEDED;
  border-bottom: 1px solid #0a0808;
  border-top: 1px solid #0a0808;
  font-size: 16px;
}
#number-place{
  width: 100px;
  text-align: center;
}
#coin-place {
  text-align: start;
  width: 300px;
}

/* LIST BODY PART */
.list-row {
  border-bottom: 1px solid #0a0808;
}
.list-row:hover {
  background-color: #1b1717;
}
.list-row td {
  padding: 20px 30px 20px 0px;
  text-align: end;
}
#list-number{
  text-align: center;
  color: #EDEDED;
}
.coin-links{
  text-decoration: none;
  width: 100%; 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: fit-content;
}
#list-box-1 img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.name-symbol {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}
.coin-name {
  font-weight: 550;
  font-family: "nunito", sans-serif;
  color: #EDEDED;
}
.coin-symbol {
  color: #666;
  font-family: "nunito", sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.list-id {
  font-family: "nunito", sans-serif;
  font-size: 16px;
  color: #EDEDED;
}
.list-price{
  color: #EDEDED;
}
.list-24h {
  color: green;
}
.list-section td.list-24h.negative {
  color: red;
}
#list-number, .list-price, .list-24h{
  font-family: 'Roboto', sans-serif;
}
.list-listing {
  font-family: "nunito", sans-serif;
  color: #999;
}
.footer{
  width: 100%;
  height: fit-content;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.footer *{
  color: #666;
  font-weight: 400;
  font-family: 'nunito', sans-serif;
  font-size: 15px;
}

/* TABLET CSS */
@media (max-width: 1199px) {
  .hero-section {
    padding: 60px 0px;
    gap: 20px;
  }
  .hero-title {
    font-size: 50px;
    line-height: 75px;
  }
  .visual-part .crypto-img {
    width: 100%;
  }
  .calc-section {
    padding: 20px 0;
  }
  .calc-title {
    font-size: 24px;
  }
  form {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    gap: 15px;

    .form-item{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: fit-content;
      width: 100%;
    }
    label, input {
      width: 100%;
    }
    .calc-button {
      width: auto;
    }
  }
}

@media (max-width: 890px) {
  .hero-section {
    flex-direction: column;
    padding: 60px 0;

    .left-side {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      .hero-title {
        font-size: 40px;
        text-align: center;
      }
      .hero-subtitle{
        text-align: center;
      }
    }
    .visual-part {
      width: 90%;
      height: fit-content;
      text-align: center;
      .crypto-img {
        width: 60%;
        border-radius: 35px;

      }
    }
  }

  .calc-section {
    padding: 30px 0;
    .calc-title {
      font-size: 25px;
    }
    form{
      flex-direction: column;
      align-items: center;
      .form-item{
        align-items: center;
        width: 60%;
        gap: 10px;

        label{
          text-align: center;
        }
      }
    }
    .first-part {    
      font-size: 18px;
    }
    .second-part {    
      font-size: 15px;
    }
  }

  table {
    font-size: 15px;
    .head-row td {
      padding: 15px 0px;
      text-align: end;
      color: #EDEDED;
    }
    #number-place{
      width: 75px;
    }
    #coin-place{
      width: 220px;
    }
    .list-row td {
      padding: 20px 0px;
      text-align: end;
    }
  }
  .list-title {
    font-size: 18px;
  }
}

